
/* При такой кстановке изначально border-box, а у остальный наследуется content-tepe который нужен элементу
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}*/

/*Основной цвет текста #212121*/
/*Вторичный цвет текста #757575 */
/*Фоновый цвет #FFFFFF */
/*Акцент #2196F3*/
/*Банер + футер #2F303A*/
/* Сетка 1170*37 */

/* ====================== Наследование =============================*/
:root{
    --text-color: #212121;
    --secindary-text-color: #757575;
    --bg-color:#FFFFFF; 
    --akcent-color: #2196F3;
    --baner-color:#2F303A;
}
body{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
}
ul,ol{list-style: none;
    padding: 0;
    margin: 0;
}
img{display: block;}
/* ====================== Components ================================*/
.logo{
    display: block;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.2;
    color: var(--akcent-color);
    text-decoration: none;
}
.logo-black{
    color:#000000;
}
.logo-white{
    color:#FFFFFF;
}
.navi-list .link.current{
    color: var(--akcent-color);
}
.section{
    margin:auto;
    padding-top: 95px;
    padding-bottom: 95px;
}
.container{
    margin: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}
/* ====================== HEADER =====================================*/

/* ====================== HEADER-NAVI =====================================*/
.header{
    border: 1px solid #ECECEC;
}
.header .container{
    display: flex;
    justify-content: space-between;
}
.navi .logo{
    margin-right: 93px;
    padding-top:25px ;
    padding-bottom:25px;
}
.navi{
    display: flex;
    justify-content:center;
    margin:0;
}
.navi-list{
    display: flex;
    justify-content:center;
    margin-right:305px;
}
.navi-list .item:not(:last-child){
    margin-right: 50px;
}
.navi-list .link{
    position: relative;
    display:block;
    padding-top: 32px;
    padding-bottom: 32px;
    
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;
}
.navi-list .link:hover,
.navi-list .link:focus{
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--akcent-color);
}
.navi-list .link.current::after{
    content:"";
    position: absolute;
    left:0;
    bottom:0%;
    margin-bottom:0;
    margin-top: 28px;

    display:block;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
}
/* ====================== HEADER-CONTACT =====================================*/
.header-contact {
    display: flex;
    justify-content:flex-end;
    margin:0;
}
.header-contact .link{
    display: flex;
    margin-right: 10px;
    padding-top: 32px;
    padding-bottom: 32px;
    
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secindary-text-color);
    text-decoration: none; 
}
.header-contact .link:hover,
.header-contact .link:focus{
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--akcent-color);
}
.icon-header{
    fill: var(--secindary-text-color);
    margin-right: 10px;
}
.header-contact .link:focus .icon-header,
.header-contact .link:hover .icon-header{
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--akcent-color);
}

/* ====================== HERO ==============================================*/ 
.hero.overlay{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 95px;

    width:;
    height: 600px;
    background-image: url(./imeges/hero/Img-overlay.png), url(./imeges/hero/img-hero-optimize.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.hero-title{
    margin:0;
    padding-top:200px;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    min width: 696px;
}
.hero .main-button{
    margin-top: 30px;
    padding-bottom: 200px;
    min-width: 200px;
    padding: 10px 32px;
    border-radius: 4px;
    border:transparent;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.15);

    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    text-decoration: none;
}
.hero .main-button:hover,
.hero .main-button:focus{
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    color: #FFFFFF;
}
/* ====================== Beckdrop Modal-button ==============================================*/ 
.backdrop.is-hiden{
    opacity: 0;
    pointer-events: none;
}
.backdrop{
    position: fixed;
    top:0;
    left: 0;
    z-index:100;
                
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.modal{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

    min-width:528px;
    min-height: 581px;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.link-close{
    display: block;
    margin-left: auto;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 2px;

    width: 17px;
    height: 17px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/imeges/modal-x.svg);
}
/* ====================== FORM ===========================================*/
.modal-form{
    display:flex;
    justify-content:start;
    flex-direction: column;
}
.title-labal-form{
    margin:40px;
    margin-top: 2px;
    margin-bottom: 12px;
    
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
.modal-button-close{
    display: block;
    margin-top: 8px;
    margin-left: auto;
    margin-right: 8px;

    width: 30px;
    height: 30px;
    border: 1px solid rgba(33, 33, 33, 0.2);
}
.modal-button-logo{
    
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
   
}
.label{
    margin-top: 10px;
    margin-bottom: 4px;
    margin-left: 40px;

    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.01em;
    text-align: left;
    color: var(--secindary-text-color);
}
.label-checkbox{
    margin-top: 20px;
    margin-bottom: 0;

    font-size: 14px;
    line-height:1.714;
    letter-spacing: 0.03em;
    color:var(--secindary-text-color);
}
.modal-input{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 4px;
    margin-bottom: 10px;
    resize: none;

    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}
.modal-input-texterea{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 12px 16px;

    width: 448px;
    height: 120px;
    resize: none;
    color:rgba(117,117, 117, 0.5);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}
.modal-button{
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 164px;
    margin-right: 164px;
    padding: 10px 55px;

    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    width: 200px;
    height: 50px;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.checkbox-link{
    color: #2196F3;
}
/* ====================== FEATURES ===========================================*/ 
.container .features-list {
    display: flex;
    justify-content: space-around;
}
.features-list .item:not(:last-child){
    margin-right: 30px;
}
.features-list .title{
    margin: 0;
    text-transform: uppercase;
    background-color:#F5F4FA;
    border: 2px  solid #F5F4FA;
    border-radius: 4px;
} 
.features-list .title:hover{
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.features-list .title::before{
    display:block;
    justify-content:center;
    align-items:center;
    content: "";
    width: 70px;
    height: 70px;
    margin:auto;
    margin-bottom: 30px;
    margin-top: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.features-list .title.antenna::before{
     background-image: url(./imeges/featuers/antenna-1.svg);
}
.features-list .title.clock::before{
     background-image: url(./imeges/featuers/clock-2.svg);
}
.features-list .title.diagram::before{
     background-image: url(./imeges/featuers/diagram-3.svg);
}
.features-list .title.astronaut::before{
     background-image: url(./imeges/featuers/astronaut-4.svg);
}
.features-list .text{
    margin-top:10px;
    margin-bottom: 0;
    line-height: 1.71;
    color: var(--secindary-text-color);
}
/*=====================SPECIALIZATION==========================================*/
.section.specialization{
    padding-top:0;
}
.specialization .title{
    margin-bottom: 0px;
    margin-top: 0;
    padding-bottom: 50px;

    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--text-color);
}
.specialization-list{
    display: flex;
    flex-wrap: wrap;
}
.specialization-list .item:not(:last-child){
     margin-right: 30px;
 }
 .specialization-thumb{
     position: relative;
     width: 370px;
     height: 294px;
 }
  .specialization-title{
    position: absolute;
    top: 77%;
    left: 0%;
    margin: 0;
    padding-top: 27px;
 
    width: 370px;
    height: 70px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
 }
 
/* ====================== TEAM ==========================================*/ 
.section.team{
    background-color: #F5F4FA;
}
.team-title{
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--text-color);
 }
 .container .team-list{
    display: flex;
    justify-content: space-around;
}
 .team-list .title{
    margin-top:30px;
    margin-bottom:10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    color: var(--text-color);
}
.team-list .text{
    margin-bottom:0;
    margin-top: 0;

    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    color: var(--secindary-text-color);
}
.team-list .item{
    background-color: #FFFFFF;
}
/* ====================== team-sotial ========================================*/ 
.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    width: 206px;
    height: 44px;
}
.social-link{
    display: flex;

    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.social-link:hover,
.social-link:focus{
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    background-color:var(--akcent-color);
}
.social-logo {
    display: block;
    justify-content: center;
    align-items:center;
    margin:auto;

    width: 20px;
    height: 20px;
    fill:#AFB1B8;
}
.social-link:hover .social-logo,
.social-link:focus .social-logo{
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    background-color:var(--akcent-color);
    fill:white;
}
/* ====================== Clients ==========================================*/
.title-clients{
    margin-top: 0;
    margin-bottom: 50px;
    
    font-weight: bold;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
.clients-list{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.link-clients-logo{
    display: flex;
    width: 170px;
    height: 90px;
    border:  1px solid #AFB1B8;
    border-radius: 4px;
}
.link-clients-logo:hover,
.link-clients-logo:focus{
    border: 1px solid var(--akcent-color);
}
.clients-logo{
    margin: auto;
    width: 60%;
    height: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    fill: #AFB1B8;
}
.link-clients-logo:hover .clients-logo,
.link-clients-logo:focus .clients-logo{
    fill: var(--akcent-color);
}
/* ======================fOOTER=========================================*/ 
.footer{
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: var(--baner-color);
}
.footer .container{
    display: flex;
    justify-content: start;
}
.footer .address{
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;

    font-style: normal;
    line-height: 1.71;
    color:#FFFFFF;
    text-decoration: none;
}
.footer .contact{
    display: block;
    font-style: normal;
    line-height: 1.71;
    color:rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.contact:not(:last-child) {
    margin-bottom: 9px;
}
.footer-social-title{
padding-left: 70px;
margin-bottom: 20px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
}
.footer-social-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
}
.footer-social-link{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: 10px;
    
    width: 44px;
    height: 44px;
    fill: #FFFFFF;
    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}
.footer-social-link:hover,
.footer-social-link:focus {
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--akcent-color);
}


/* ======================Partfolio=======================================*/ 
.partfolio-title{
    display: none;
}
.partfolio-list a{
    text-decoration: none;
}
/* ======================Button=======================================*/
.button-list{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.button-list .item:not(:last-child){
    margin-right: 8px;
}
.button {
        margin-right: 8px;
        padding: 6px 22px;

        height: 38px;
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--text-color);
        border: none;    
}      
.button:hover,
.button:focus{
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    color: #FFFFFF;
    background-color: #2196F3;
    border-radius: 7%;
}
/* ======================Main=======================================*/
.partfolio-list{
    display: flex;
    flex-wrap: wrap;
}
.partfolio-list .item{
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
}
.partfolio-list .item:nth-child(3n+3){
    margin-right: 0;
}
.partfolio-list .item:hover{
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.partfolio-list .title{
    margin-top: 30px;
    margin-bottom: 4px;
    margin-left: 24px;
    
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-color);
}
.partfolio-list .text{
    display: block;
    margin-top: 4px;
    margin-bottom:0;
    margin-left: 24px;

    font-size: 16px;
    text-align: start;
    line-height: 1.9;
    color: var(--secindary-text-color);
}
/* ====================== Переходы =======================================*/
.thumb-text-cart{
    position: relative;
    width: 370px;
    height: 294px;
    overflow: hidden;
    
}
.text-cart{
    position: absolute;
    top:0%;
    left:0%;
    padding:63px 24px;
    margin: 0;

    width: 322px;
    height: 168px;
    display :block;
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #FFFFFF;

    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(33, 150, 243, 0.9);

}
 .item:hover .text-cart {
    transform: translateY(0%);
}