
/* При такой кстановке изначально border-box, а у остальный наследуется content-tepe который нужен элементу
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}*/

/*Основной цвет текста #212121*/
/*Вторичный цвет текста #757575 */
/*Фоновый цвет #FFFFFF */
/*Акцент #2196F3*/
/*Банер + футер #2F303A*/
/* Сетка 1170*37 */

/* ====================== Наследование =============================*/
:root{
    --text-color: #212121;
    --secindary-text-color: #757575;
    --bg-color:#FFFFFF; 
    --akcent-color: #2196F3;
    --baner-color:#2F303A;
}
body{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
}
ul,ol{list-style: none;
    padding: 0;
    margin: 0;
}
img{display: block;}
/* ====================== Components ================================*/
.logo{
    display: block;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.2;
    color: var(--akcent-color);
    text-decoration: none;
}
.logo-black{
    color:#000000;
}
.logo-white{
    color:#FFFFFF;
}
.navi-list .link.current{
    color: var(--akcent-color);
}
.section{
    margin:auto;
    padding-top: 95px;
    padding-bottom: 95px;
    outline: 2px solid tomato;
}
.container{
    margin: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}
/* ====================== HEADER =====================================*/
.navi .logo{
    margin-right: 93px;
    padding-top:25px ;
    padding-bottom:25px;
}
.header .container{
    display: flex;
    justify-content: space-between;
}
.navi{
    display: flex;
    justify-content:center;
    margin:0;
}
.navi-list{
    display: flex;
    justify-content:center;
    margin-right:305px;
}
.navi-list .item:not(:last-child){
    margin-right: 50px;
}
.navi-list .link{
    display:block;
    padding-top: 32px;
    padding-bottom: 32px;
    
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;
}
.navi-list .link:hover,
.navi-list .link:focus{
    color: var(--akcent-color);
}
.header-contact {
    display: flex;
    justify-content:flex-end;
    margin:0;
}
.header-contact .link{
    display: flex;
    margin-right: 10px;
    padding-top: 32px;
    padding-bottom: 32px;
    
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secindary-text-color);
    text-decoration: none; 
}
.header-contact .link:hover,
.header-contact .link:focus{
    color: var(--akcent-color);
}
.icon-header{
    fill: var(--secindary-text-color);
    margin-right: 10px;
}
.icon-header:hover,
.icon-header:focus{
    fill: var(--akcent-color);
}
/* ====================== HERO ==============================================*/ 
.hero.overlay{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 95px;

    width:1600px;
    height: 600px;
    background-image: url(./imeges/hero/Img-overlay.png), url(./imeges/hero/img-hero-optimize.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.hero-title{
    margin:0;
    padding-top:200px;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    min width: 696px;
}
.hero .main-button{
    margin-top: 30px;
    padding-bottom: 200px;
    min-width: 200px;
    padding: 10px 32px;
    border-radius: 4px;
    border:transparent;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.15);

    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    text-decoration: none;
}
.hero .main-button:hover,
.hero .main-button:focus{
    color: #FFFFFF;
    cursor: pointer;
}
/* ====================== FEATURES ===========================================*/ 
.container .features-list {
    display: flex;
    justify-content: space-around;
}
.features-list .item:not(:last-child){
    margin-right: 30px;
}
.features-list .title{
    text-transform: uppercase;
    margin: 0;
} 
.features-list .title::before{
    display:block;
    justify-content:center;
    align-items:center;
    content: "";
    width: 70px;
    height: 70px;
    margin: 33px auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.features-list .title.antenna::before{
     background-image: url(./imeges/featuers/antenna-1.svg);
}
.features-list .title.clock::before{
     background-image: url(./imeges/featuers/clock-2.svg);
}
.features-list .title.diagram::before{
     background-image: url(./imeges/featuers/diagram-3.svg);
}
.features-list .title.astronaut::before{
     background-image: url(./imeges/featuers/astronaut-4.svg);
}
.features-list .text{
    margin-top:10px;
    margin-bottom: 0;
    line-height: 1.71;
    color: var(--secindary-text-color);
}
/*=====================SPECIALIZATION==========================================*/
.section.specialization{
    padding-top:0;
}
.specialization .title{
    margin-bottom: 0px;
    margin-top: 0;
    padding-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--text-color);
}
.specialization-list{
    display: flex;
    flex-wrap: wrap;
}
 .specialization-list .item:not(:last-child){
     margin-right: 30px;
 }
/* ====================== TEAM ==========================================*/ 
.title-team{
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--text-color);
 }
 .container .team-list{
    display: flex;
    justify-content: space-around;
}
 .team-list .title{
    margin-top:30px;
    margin-bottom:10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    color: var(--text-color);
}
.team-list .text{
    margin-bottom:0;
    margin-top: 0;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    color: var(--secindary-text-color);
}
/* ====================== team-sotial ========================================*/ 
.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 206px;
    height: 44px;
}
.social-link{
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.social-link:hover,
.social-link:focus{
     background-color:var(--akcent-color);
}
.social-logo {
    display: block;
    justify-content: center;
    align-items:center;
    margin:auto;
    width: 20px;
    height: 20px;
    fill:#AFB1B8;
}
.social-logo:hover,
.social-logo:hover{
    fill:white;
}
/* ====================== Clients ==========================================*/
.title-clients{
    margin-top: 0;
    margin-bottom: 50px;
    
    font-weight: bold;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
.clients-list{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.link-clients-logo{
    display: flex;
    width: 170px;
    height: 90px;
    border:  1px solid #AFB1B8;
    border-radius: 4px;
}
.link-clients-logo:hover,
.link-clients-logo:focus{
    border:  1px solid var(--akcent-color);
}
.clients-logo{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 50%;
    height: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    fill: #AFB1B8;
}

.clients-logo:hover,
.clients-logo:focus{
    fill: var(--akcent-color);
}
/* ======================fOOTER=========================================*/ 
.footer{
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: var(--baner-color);
}
.footer .container{
    display: flex;
    justify-content: start;
}
.footer .address{
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;

    font-style: normal;
    line-height: 1.71;
    color:#FFFFFF;
    text-decoration: none;
}
.footer .contact{
    display: block;
    font-style: normal;
    line-height: 1.71;
    color:rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.contact:not(:last-child) {
    margin-bottom: 9px;
}
.footer-social-title{
padding-left: 70px;
margin-bottom: 20px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
}
.footer-social-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
}
.footer-social-link{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: 10px;
    
    width: 44px;
    height: 44px;
    fill: #FFFFFF;
    background-color: var(--secindary-text-color);
    border-radius: 50%;
}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--akcent-color);
}






/* ======================Partfolio=======================================*/ 
.button {
        margin-right: 8px;
        padding-right: 22px;
        padding-left: 22px;
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--text-color);
        border: none;    
}      
.button:hover,
.button:focus{
    color: #FFFFFF;
    background-color: #2196F3;
    border-radius: 5%;
}
.partfolio-list a{
    text-decoration: none;
}
.partfolio-list .title{
    margin-top: 20px;
    margin-bottom: 4px;
    
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-color);
}
.partfolio-list .text{
    padding-top: 0;
    padding-bottom: 20px;
    margin: 0;
    font-size: 16px;
    text-align: start;
    line-height: 1.9;
    color: var(--secindary-text-color);
}
/* ====================== Partfolio container =========================*/
.partfolio-title{
    display: none;
}
.button-list{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.partfolio-list{
    display: flex;
    flex-wrap: wrap;
}
.partfolio-list .item{
    margin-right: 30px;
    border: 1px solid #EEEEEE;
}
.partfolio-list .item:nth-child(3n+3){
margin-right: 0;
}
